<h1>Ruth's Rent-a-Bike</h1><br><br>

<h2>Welcome to my rent-a-bike store!</h2>
<br><br>

<h3>Take a look at our bikes:</h3>
<br><br>

<div>
	    
    		<div class="container">	
    		    <p>Adult Mountain Bikes</p>
    		        <br>
        			<%= image_tag("LadiesMountainBike.jpg", :alt => "Ladies Mountain Bike", :size => "260x180" ) %>
        			<%= image_tag("LadiesPinkM.jpg", :alt => "Ladies Mountain Bike", :size => "260x180" ) %>
        			<%= image_tag("MensMountainBike.jpg", :alt => "Men's Mountain Bike", :size => "260x180") %>
        			<%= image_tag("MensMountainBike6.jpg", :alt => "Men's Mountain Bike", :size => "260x180") %>
        			
        			
        			<p>Adult Road Bikes</p>
        		      <br>
        			<%= image_tag("LadiesRoad1.jpg", :alt => "Ladies Road Bike", :size => "260x180" ) %>
        			<%= image_tag("LadiesRoad2.jpg", :alt => "Ladies Road Bike", :size => "260x180" ) %>
        			<%= image_tag("MensRoad1.jpg", :alt => "Men's Road Bike", :size => "260x180") %>
        			<%= image_tag("MensRoad2.jpg", :alt => "Men's Road Bike", :size => "260x180") %>
        			
        			<p>Child Bikes</p>
        	        <br>
        			<%= image_tag("ChildMountain1.jpg", :alt => "Child's Mountain Bike", :size => "260x180" ) %>
        			<%= image_tag("ChildMountain2.jpg", :alt => "Child's Mountain Bike", :size => "260x180" ) %>
        			<%= image_tag("ChildRoad1.jpg", :alt => "Child's Road Bike", :size => "260x180") %>
        			<%= image_tag("ChildRoad2.jpg", :alt => "Child's Road Bike", :size => "260x180") %>
        			<br><br>
        			
    			
    			
    		</div>
</img>	
